In [135]:
nama = input("Masukkan Nama Anda: ")
nim = input("Masukkan NIM Anda: ")
umur = input("Masukkan Umur Anda: ")
alamat = input("Masukkan Alamat Anda: ")
status = input("Masukkan Status Anda: ")

print("\n Biodata: \n")
print("Nama : {0}".format(nama))
print("NIM : {}".format(nim))
print("Umur : {0}".format(umur))
print("Alamat : {0}".format(alamat))
print("Status : {0}".format(status))

Masukkan Nama Anda:  Rosya Fitriani Supyan
Masukkan NIM Anda:  20240040098
Masukkan Umur Anda:  18
Masukkan Alamat Anda:  Gegerbitung
Masukkan Status Anda:  Mahasiswa

 Biodata:

Nama : Rosya Fitriani Supyan
NIM : 20240040098
Umur : 18
Alamat : Gegerbitung
Status : Mahasiswa

In [137]:
kalimat = "UNIVERSITAS NUSA PUTRA SUKABUMI"

a = " ".join(kalimat.split()[1:3][::-1]).lower()  
b = kalimat.replace("U", "")
c = " ".join(kalimat.split()[::-1])
d = "".join([word[0] for word in kalimat.split()])
e = "TAS SAPU BUMI"

print(f"a. {a}")
print(f"b. {b}")
print(f"c. {c}")
print(f"d. {d}")
print(f"e. {e}")

a. putra nusa
b. NIVERSITAS NSA PTRA SKABMI
c. SUKABUMI PUTRA NUSA UNIVERSITAS
d. UNPS
e. TAS SAPU BUMI